/* index.css */

body {
    background-color: #282829; /* Blue background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: #737475;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

img {
    border-radius: 10px;
    margin-top: 10px;
}

video, audio {
    margin-top: 10px;
}